<app-cabecera></app-cabecera>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
<h1>Venta de Pasajes</h1>
<br>
<br>

<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid" placeholder="nombre" value="">
            <label for="floatingInputGrid">Nombre</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid" placeholder="nombre" value="">
            <label for="floatingInputGrid">Apellidos</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInputGrid" placeholder="nombre" value="">
            <label for="floatingInputGrid">CI</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
    <select class="form-select" id="floatingSelectGrid">
        <option selected>Selecciona</option>
        <option value="LP">LP</option>
        <option value="CBBA">CBBA</option>
        <option value="SC">SC</option>
        <option value="TJ">TJ</option>
        <option value="PT">PT</option>
        <option value="BN">BN</option>
        <option value="PNDO">PNDO</option>
        <option value="CHUQUISACA">CHUQUISACA</option>
        <option value="ORURO">ORURO</option>
    </select>
    <label for="floatingSelectGrid">Extension</label>
</div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col">
          <div class="form-floating">
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="nit" value="">
              <label for="floatingInputGrid">NIT</label>
          </div>
        </div>
        <div class="col">
         <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid">
            <option selected>Selecciona</option>
            <option value="LP">LP</option>
            <option value="CBBA">CBBA</option>
            <option value="SC">SC</option>
            <option value="TJ">TJ</option>
            <option value="PT">PT</option>
            <option value="BN">BN</option>
            <option value="PNDO">PNDO</option>
            <option value="CHUQUISACA">CHUQUISACA</option>
            <option value="ORURO">ORURO</option>
        </select>
        <label for="floatingSelectGrid">Origen</label>
    </div>
          </div>
          <div class="col">
            <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid">
            <option selected>Selecciona</option>
            <option value="LP">LP</option>
            <option value="CBBA">CBBA</option>
            <option value="SC">SC</option>
            <option value="TJ">TJ</option>
            <option value="PT">PT</option>
            <option value="BN">BN</option>
            <option value="PNDO">PNDO</option>
            <option value="CHUQUISACA">CHUQUISACA</option>
            <option value="ORURO">ORURO</option>
        </select>
        <label for="floatingSelectGrid">Destino</label>
    </div>
          </div>
        <div class="col">
            <div class="form-group">
                <label for="hora-salida">Hora de salida:</label>
                <input type="time" class="form-control" id="hora-salida" name="hora" formControlName="hora">
              </div>
        </div>
      </div>
  </div>


  