<!--MENU-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SUPER USUARIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/usuperusuario">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rventapasaje">Reportes</a>
          </li>
          
          <!--Empresas-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/admanifesto" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Empresas
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="regempresa">Registrar Empresas</a></li>
                <li><a class="dropdown-item" href="verempresa">Ver Empresas</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="estempresa">Estado Empresas</a></li>
            </ul>
        </li>
          <!--Usuarios-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/gestusuarios" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Gestion de Usuarios
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="crearusuarios">Creacion de Usuarios</a></li>
                <li><a class="dropdown-item" href="verusuarios">Ver Usuarios</a></li>
                <li><a class="dropdown-item" href="permisosusuario">Permisos de Usuarios</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="estusuario">Estado Usuarios</a></li>
            </ul>
        </li>

        <!--Sesion-->
        <li class="nav-item">
            <a class="nav-link" href="cerrarsesion">Cerrar Sesion</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>