<!--Primero añadir la clase wrapper 
    revisar el css -->
<div class="wrapper">
    <div class="body">
        <!--Segundo añadir la imagen para login assets/images/login.jpg
    revisar la estructura -->
        <!--terceri añadir la clase logo para login 
    revisar css -->
        <img class="logo" src="../../../assets/img/logo 1.png" alt="login">
<h2>login</h2>
<form>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="name@example.com">
        <label>Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="Password">
        <label>Password</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Ingresar</button>
        </div>
        <p class="mt-3">Recuperar Contraseña</p> <a routerLink="/pagos">Click Aqui</a>
</form>

</div>
</div>

