<app-cabecera></app-cabecera>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
<br>
<p>
    <app-mvendedor></app-mvendedor>

    <form class="row g-3 mx-5">
        <label for="exampleDataList" class="form-label">Busqueda</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Buscar...">
        <datalist id="datalistOptions">
          <option value="La Paz">
          <option value="Cochabamba">
          <option value="Santa Cruz">
          </datalist>
    </form>
    
    <!-- Título de la Tabla -->
    <h3 class="mx-5 mt-4">Lista de Pasajeros</h3>
    
    <div class="col-md-6 mx-5"> <!-- Columna derecha para la tabla con un margen -->
        <div class="card rounded-lg" style="margin-top: 2px;">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"># Nro</th>
                            <th scope="col">Nombre y Apellido</th>
                            <th scope="col">CI</th>
                            <th scope="col">Asiento</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Precio Calculado</th>
                            <th scope="col">Metodo Pago</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let pasajero of pasajeros; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ pasajero.nombre }} {{ pasajero.apellidos }}</td>
                            <td>{{ pasajero.ci }}</td>
                            <td>{{ pasajero.asiento }}</td>
                            <td>{{ pasajero.origen }}</td>
                            <td>{{ pasajero.destino }}</td>
                            <td>{{ pasajero.hora }}</td>
                            <td>{{ pasajero.precio }}</td>
                            <td>{{ pasajero.placa }}</td>
                            <td>{{ pasajero.preciocalculado }}</td>
                            <td>{{ pasajero.metodopago }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Espaciado después de la tabla -->
    <div class="mt-4"></div>
    
    <!-- Título para los botones -->
    <h3 class="mx-5 mt-5">Exportar Datos</h3>
    
    <div class="col-md-6 mx-5 mb-5"> <!-- Columna derecha para los botones con un margen -->
        <button type="button" class="btn btn-outline-primary mx-3 mb-4">PDF</button>
        <button type="button" class="btn btn-outline-secondary mx-3 mb-4">XLS</button>
        <button type="button" class="btn btn-outline-info mx-3 mb-4">Ventana</button>
    </div>
<p>
  </p>

  <br>
  <br>
  <p>
</p>