<app-cabecera></app-cabecera>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
<br>
<p>
    <app-mvendedor></app-mvendedor>

    <p>

    </p>
    <br>
    <form class="row g-3 mx-5">
        
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Buscar</label>
          <input type="time" class="form-control" id="inputPassword2" placeholder="Busqueda">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Buscar</button>
        </div>
      </form>
    <div class="col-md-6 mx-5"> <!-- Columna derecha para la tabla con un margen -->
        <div class="cards rounded-lg" style="margin-top: 2px;">
            <div class="card-body">
              <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">CI</th>
                            <th scope="col">Asiento</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Hora</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">1</th>
                            <td>Carlos</td>
                            <td>123456</td>
                            <td>14</td>
                            <td>Cochabamba</td>
                            <td>Santa Cruz</td>
                            <td>20:30</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Laura</td>
                            <td>123456</td>
                            <td>15</td>
                            <td>Cochabamba</td>
                            <td>Santa Cruz</td>
                            <td>20:30</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Justa</td>
                            <td>123456</td>
                            <td>16</td>
                            <td>Cochabamba</td>
                            <td>Santa Cruz</td>
                            <td>20:30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   
    </div>
<br>
<div class="col-md-6 mx-5"> <!-- Columna derecha para la tabla con un margen -->
<button type="button" class="btn btn-outline-primary mx-3">PDF</button>
<button type="button" class="btn btn-outline-secondary mx-3">XLS</button>
<button type="button" class="btn btn-outline-info mx-3">Ventana</button>
</div>


