<app-cabecera></app-cabecera>
<p></p>
<p></p>
<p></p>
<br>
<p></p>
<br>
<p>
    <app-mvendedor></app-mvendedor>
    <div class="container mb-4 mt-4">

        <mat-form-field>
            <mat-label>Seleccione un Rango</mat-label>
            <mat-date-range-input [rangePicker]="picker">

              <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
              <input matEndDate placeholder="End date" [(ngModel)]="endDate">

              <!--<input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">-->
            </mat-date-range-input>
            <mat-hint>MM/DD/AAAA – MM/DD/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <mat-divider></mat-divider>
          <section>
              <div class="example-button-row mt-4">
              <!--<button mat-raised-button color="primary">Buscar</button>-->
              <button mat-raised-button color="primary" class="mr-2" (click)="onSearch()">Buscar</button>
              <button mat-raised-button color="warn" (click)="clearSearch()">Limpiar</button>

              </div>
          </section>

          <br>

          <div class="mat-elevation-z8 mt-4">
            <table mat-table [dataSource]="dataSource" matSort>
              
              <!-- Columnas, como un ejemplo -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
              </ng-container>
              <ng-container matColumnDef="ci">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CI</th>
                <td mat-cell *matCellDef="let row"> {{row.ci}} </td>
              </ng-container>
              <ng-container matColumnDef="asiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Asiento</th>
                <td mat-cell *matCellDef="let row"> {{row.asiento}} </td>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
              </ng-container>
              <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
                <td mat-cell *matCellDef="let row"> {{row.origen}} </td>
              </ng-container>
              <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
                <td mat-cell *matCellDef="let row"> {{row.destino}} </td>
              </ng-container>
              <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
                <td mat-cell *matCellDef="let row"> {{row.hora}} </td>
              </ng-container>
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
              </ng-container>
              <ng-container matColumnDef="placa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
                <td mat-cell *matCellDef="let row"> {{row.placa}} </td>
              </ng-container>
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
              </ng-container>
             
                 
              <!--... Añade aquí las otras columnas ...-->
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="11">No hay datos que coincidan con el filtro</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[10, 30, 40, 100]" aria-label="Seleccionar página"></mat-paginator>
          </div>
        </div>

   