.example-form {
    min-width: 180px;
    max-width: 900px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 5px;
  }

  .custom-card {
    margin-right: 40px;
    margin-left: 360px;
    margin-bottom: 20px;
    /* Resto de tus estilos... */
  }

  .btn-group{

    margin-right: 40px;
    margin-left: 360px;
    margin-bottom: 20px;
  }