.basic {

    position: absolute;
    top: 30;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 200;
    justify-content: center;
    text-align: center !important;

}
.imgfor {
    float: left;
    margin-right: 10px; 
    width: 120px; 
    height: 40px;
}

.custom-button {
    margin-right: 10px; /* Ajusta el valor según la cantidad de espacio deseado */
  }