<app-cabecera></app-cabecera>
<p></p>
<p></p>
<p>

</p>
<br>
<p>

</p>
<br>

<app-mvendedor></app-mvendedor>
<div class="basic">
  <!--<img class="imgfor" src="../../../../assets/img/logo 1.png" alt="Chakuy logo">-->
  <h3> Registrar Flota</h3>   
</div>

<div class="container mt-4 ml-2"> <!-- Contenedor con margen a la izquierda -->
<br>
<form class="example-form" [formGroup]="formulario" (ngSubmit)="registrarflota()" >
      <div class="row">
        <div class="col-md-6"> <!-- Campo de Placa, mitad del tamaño en pantallas medianas -->
          <div class="form-group">
            <label for="placa">Placa:</label>
            <input type="text" class="form-control" id="placa" name="placa" formControlName="placa">
          </div>
        </div>
        <div class="col-md-6"> <!-- Campo de Conductor, mitad del tamaño en pantallas medianas -->
          <div class="form-group">
            <label for="conductor">Conductor:</label>
            <input type="text" class="form-control" id="conductor" name="conductor" formControlName="conductor">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"> <!-- Campo de Hora de salida, mitad del tamaño en pantallas medianas -->
          <div class="form-group">
            <label for="hora-salida">Hora de salida:</label>
            <input type="time" class="form-control" id="hora-salida" name="hora" formControlName="hora">
          </div>
        </div>
        <div class="col-md-6"> <!-- Campo de Tipo, mitad del tamaño en pantallas medianas -->
          <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="form-control" id="tipo" name="tipo" formControlName="tipo">
              <option value="normal">Normal</option>
              <option value="Leito">Leito</option>
              <option value="Suite">Suite</option>
              <option value="SemiCama">Semicama</option>

            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3"> <!-- Campo de Hora de salida, mitad del tamaño en pantallas medianas -->
            <div class="input-group mt-3">
              <select class="form-select" id="inputGroupSelect02" formControlName="cantidadpasajeros">
                <option selected>Selecciona...</option>
                <option value="1-10">1-10</option>
                <option value="11-20">11-20</option>
                <option value="21-30">21-30</option>
                <option value="31-40">31-40</option>
                <option value="41-50">41-50</option>
                <option value="51-60">51-60</option>
                </select>
              <label class="input-group-text" for="inputGroupSelect02"># Pasajeros</label>
            </div>
            
          </div>
          <div class="col-md-3"> <!-- Campo de Hora de salida, mitad del tamaño en pantallas medianas -->
            <div class="input-group mt-3">
              <select class="form-select" id="inputGroupSelect02" formControlName="Origen">
                <option selected>Selecciona Origen...</option>
                <option value="La Paz">La Paz</option>
                <option value="Cochabamba">Cochabamba</option>
                <option value="Santa Cruz">Santa Cruz</option>
                </select>
              <label class="input-group-text" for="inputGroupSelect02">Origen</label>
            </div>
            
          </div>
          <div class="col-md-3"> <!-- Campo de Hora de salida, mitad del tamaño en pantallas medianas -->
            <div class="input-group mt-3">
              <select class="form-select" id="inputGroupSelect02" formControlName="Destino">
                <option selected>Selecciona Destino...</option>
                <option value="La Paz">La Paz</option>
                <option value="Cochabamba">Cochabamba</option>
                <option value="Santa Cruz">Santa Cruz</option>
                </select>
              <label class="input-group-text" for="inputGroupSelect02">Destino</label>
            </div>
            
          </div>

          <div class="col-md-3"> <!-- Campo de Hora de salida, mitad del tamaño en pantallas medianas -->
            <div class="input-group mt-3">
              <select class="form-select" id="inputGroupSelect02" formControlName="estado">
                <option selected>Estado...</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
                <option value="En Ruta">En Ruta</option>
                <option value="Mantenimiento">Mantenimiento</option>
                </select>
              <label class="input-group-text" for="inputGroupSelect02">Estado</label>
            </div>
            
          </div>
          
        </div>
      </div>

      <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        ¡Registro exitoso! Mensaje de éxito.
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  </div>
  
