<br>
<br>
<p></p>

<div class="container">
    <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
        Patrimonio registrado con éxito.
    </div>
    <form [formGroup]="patrimonioForm" (ngSubmit)="onSubmitPatrimonio()">
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-control" id="categoria" formControlName="categoria">
                <!-- Aquí usamos e.nombre para mostrar tanto niveles como subniveles -->
                <option *ngFor="let e of categoriasPatrimonio" [value]="'3.' + e.nombre">3.{{ e.nombre }}</option>
              </select>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" class="form-control" id="tipo" formControlName="tipo">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
        </div>
        <div class="form-group">
            <label for="monto">Monto</label>
            <input type="number" class="form-control" id="monto" formControlName="monto">
        </div>
        <div class="form-group">
            <label for="fechaRegistro">Fecha de Registro</label>
            <input type="date" class="form-control" id="fechaRegistro" formControlName="fechaRegistro">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Patrimonio</button>
    </form>
</div>
