<div class="container mt-5">
    <div class="row">
        <div class="col-md-6"> <!-- Columna izquierda para el formulario -->
            <div class="card rounded-lg">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="autoSizingInput" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="autoSizingInput" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <label for="autoSizingInput" class="form-label">Cantidad Pasajeros</label>
                            <input type="number" class="form-control" id="autoSizingInput" placeholder="Número">
                        </div>
                        <div class="mb-3">
                            <label for="autoSizingSelectOrigen" class="form-label">Origen</label>
                            <select class="form-select" id="autoSizingSelectOrigen">
                                <option selected>Origen...</option>
                                <option value="1">La Paz</option>
                                <option value="2">Cbba</option>
                                <option value="3">Sta Cruz</option>
                                <option value="4">Beni</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="autoSizingSelectDestino" class="form-label">Destino</label>
                            <select class="form-select" id="autoSizingSelectDestino">
                                <option selected>Destino...</option>
                                <option value="1">La Paz</option>
                                <option value="2">Cbba</option>
                                <option value="3">Sta Cruz</option>
                                <option value="4">Beni</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="autoSizingDate" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="autoSizingDate">
                        </div>
                        <button type="button" class="btn btn-primary" (click)="mostrarResultado()">Buscar</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6"> <!-- Columna derecha para la tabla con un margen -->
            <div class="cards rounded-lg" style="margin-top: 2px;">
                <div class="card-body" *ngIf="mostrarTabla">
                  <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Origen</th>
                                <th scope="col">Destino</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">1</th>
                                <td>Trans Copabana</td>
                                <td>20:00</td>
                                <td>Santa Cruz</td>
                                <td>Cochabamba</td>
                                <td>80 Bs</td>
                                <td><img src="../../../../assets/img/carrito.png"></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Trans Copabana MEM</td>
                                <td>20:15</td>
                                <td>Santa Cruz</td>
                                <td>Cochabamba</td>
                                <td>100 Bs</td>
                                <td><img src="../../../../assets/img/carrito.png"></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>23 de Marzo</td>
                                <td>20:30</td>
                                <td>Santa Cruz</td>
                                <td>Cochabamba</td>
                                <td>110 Bs</td>
                                <td><img src="../../../../assets/img/carrito.png"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
