<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <!-- Tabla Principal -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Concepto Column -->
      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
        <td mat-cell *matCellDef="let row"> {{row.concepto}} </td>
      </ng-container>
  
      <!-- Monto Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
        <td mat-cell *matCellDef="let row"> {{row.monto}} </td>
      </ng-container>
  
      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
      </ng-container>
  
      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <!-- Tabla de Pie de Página para Sumatorias y Total -->
  <div class="mat-elevation-z8" *ngIf="sumatoriasDataSource">
    <table mat-table [dataSource]="sumatoriasDataSource">
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
  
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['descripcion', 'valor']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['descripcion', 'valor']"></tr>
    </table>
  </div>
  
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  