table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .descarga-container {
    /* Estilos para el contenedor del botón de descarga */
    text-align: center;
    margin-top: 10px;
  }
  .totals-container {
    margin-top: 20px;
    font-weight: bold;
    /* Otros estilos que necesites para que coincida con el estilo de tu tabla */
  }
  