<br>
<br>
<div class="container">
    <!-- Campo de Búsqueda -->
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por categoría, descripción, etc." #input>
    </mat-form-field>
  
    <!-- Tabla Unificada -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
        <!-- Categoria Column -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>
  
        <!-- Descripcion Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
  
        <!-- Monto Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
          <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
        </ng-container>
  
   
  
        <!-- Otras Columnas Específicas (Si son necesarias) -->
        <!-- ... -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccionar página"></mat-paginator>
  
    <!-- Botón de Descarga (Si es necesario) -->
    <div class="descarga-container">
      <button mat-raised-button color="primary" (click)="descargarDatos()">Descarga</button>
    </div>
  </div>
  