<div class="row row-cols-1 row-cols-md-4 g-3">
    <div class="col">
      <div class="card custom-card">
        <img src="../../../../assets/img/ventas.png" (click)="mostrarComponente('vdiarias')" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><strong> Venta Diaria</strong></h3>
          <p class="card-text"> Cantidad total de pasajes vendidos
             en un día específico </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card custom-card">
        <img src="../../../../assets/img/viajero.png"  (click)="mostrarComponente('cpasajeros')" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><strong>Cantidad de Pasajeros Transportados</strong></h3>
          <p class="card-text">
            Número total de personas que han sido transportadas en un período de tiempo determinado
          </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card custom-card">
        <img src="../../../../assets/img/reduccion.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><strong>Costos</strong></h3>
          <p class="card-text">
            Representan los gastos asociados al mantenimiento, operación y gestión de los vehículos
          </p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card custom-card">
        <img src="../../../../assets/img/inmigracion.png"  (click)="mostrarComponente('novedades')" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"><strong>Novedades</strong></h3>
          <p class="card-text">
            Se refieren a los eventos relevantes que hayan ocurrido en el período de tiempo analizado
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-vdiarias *ngIf="mostrarVdiarias"></app-vdiarias>
  <app-cantpasajeros *ngIf="mostrarcpasajeros"></app-cantpasajeros>
  <app-novedades *ngIf="mostrarNovedades"></app-novedades>
  