<div class="card">
    <div class="card-body d-flex align-items-center">
        <div class="footer-image mr-2">
            <img src="../../../../assets/img/logo 1.png" alt="chakuy" width="50" height="50">
        </div>
        <div>
            <div class="card-header">
                &copy; 2023 Chakuy
            </div>
            <blockquote class="blockquote mb-0">
                <p class="text-small">Este sitio web, incluyendo todos los textos, imágenes, código fuente y otros contenidos, es propiedad de Chakuy. Se prohíbe la reproducción, distribución, modificación o uso de este sitio web o su contenido sin el permiso expreso.</p>
                <footer class="blockquote-footer">Todos los derechos reservados <cite title="Source Title">Chakuy</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
