.wrapper {
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 130px;
    margin-bottom: 05px;
}

.body {

    width: 100%;
    max-width: 330px;
    padding: 35px;;    
    margin: auto;
    text-align: center;
}



