<div class="container">
    <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
        Egreso registrado con éxito.
    </div>
    <form [formGroup]="egresoForm" (ngSubmit)="onSubmitEgreso()">
        <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-control" id="categoria" formControlName="categoria">
                <!-- Aquí usamos e.nombre para mostrar tanto niveles como subniveles -->
                <option *ngFor="let e of categoriasEgresos" [value]="'5.' + e.nombre">5.{{ e.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
        </div>
        <div class="form-group">
            <label for="monto">Monto</label>
            <input type="number" class="form-control" id="monto" formControlName="monto">
        </div>
        <div class="form-group">
            <label for="fechaRegistro">Fecha de Registro</label>
            <input type="date" class="form-control" id="fechaRegistro" formControlName="fechaRegistro">
        </div>
        <div class="form-group">
            <label for="destinatario">Destinatario</label>
            <input type="text" class="form-control" id="destinatario" formControlName="destinatario">
        </div>
        <div class="form-group">
            <label for="cuentaRelacionadaId">ID de Cuenta Relacionada</label>
            <input type="number" class="form-control" id="cuentaRelacionadaId" formControlName="cuentaRelacionadaId">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar Egreso</button>
    </form>
</div>
